[Desktop Entry]
Name=gnome-night-light-auto
GenericName=gnome-night-light-auto
Comment=Auto set color temp of gnome night light
Exec=/usr/local/bin/gnome-night-light-auto.pl
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
